<section class="content-header">

      <h1 class="profile-username text-Left">Inbox</h1>
        <br/>
</section>
<div class="row">
     <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Read Mails</h3>
            </div>
            <!-- /.box-header -->
            <div  *ngFor="let mess of recievedMessages" >
            
            <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h3>{{mess.title}}</h3>
                <h5>From: {{mess.userSent.email}}
                  <span class="mailbox-read-time pull-right">{{mess.date}}</span></h5>
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                <p>{{mess.content}}</p>

              </div>
              <!-- /.mailbox-read-message -->
            </div>
            
            
            <!-- /.box-body -->

            <!-- /.box-footer -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-default" (click)="replyClick(mess.userSent)"><i class="fa fa-reply"></i> Reply</button>
              </div>
            </div>
            
            </div>
           
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        
         <div class="col-xs-12" id = "sendMessageDiv" hidden="true">
		      	    <div class="col-md-12">
			          <div class="box box-primary">
			            <div class="box-header with-border ">
			              <h3 class="box-title">Reply message to agent...</h3>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			            	<div class="form-group">
			               <span> <label>To : {{agent.email}}</label></span>
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Title:" value='mess.title' [(ngModel)]="newMessage.title">
			              </div>
			              <div class="form-group">
			                    <textarea id="compose-textarea" class="form-control" style="height: 100px" [(ngModel)]="newMessage.content">
			                     
			                    </textarea>
			              </div>
			              
			            </div>
			            <!-- /.box-body -->
			            <div class="box-footer">
			              <div class="pull-right">
			                <button type="submit" class="btn btn-primary" [disabled]="user.blocked" (click)="sendMessageClick(newMessage)"><i class="fa fa-envelope-o" ></i> Send</button>
			              </div>
			              <button type="reset" class="btn btn-default" (click)="sendMessageClickDiscard(newMessage)"><i class="fa fa-times"></i> Discard</button>
			            </div>
			            <!-- /.box-footer -->
			          </div>
			          <!-- /. box -->
			        </div>
		      </div>
		      <div class="col-xs-12" id = "successSentDiv" hidden="true">
              	<div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i></h4>
                	Message is sent!
              </div>
              </div> 
        
</div>