      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><b>Certificates</b></h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
               	<th>Id subject</th>               	
            	<th>Start date</th>
           	 	<th>End date</th>
            	<th>Revoked</th>
            	<th>Reason for revocation</th>
            	
            	<th></th>
            	</tr>
       		 </thead>
             <tbody>
               <tr *ngFor="let cert of certificates"  >
               <td>{{cert.idSubject}}</td>               
               <td>{{cert.startDate}}</td>
               <td> {{cert.endDate}}</td>
               <td>{{cert.revoked}}</td>
               <td>{{cert.reasonForRevokation}}</td>
               <td *ngIf="!cert.revoked">
               		<button class="btn btn-default	btn-md" id="revoke{{cert.idSubject}}" (click)="revokeCertificate(cert.idSubject)">Revoke</button></td>
               <!--  td *ngIf="user.certificated">
               		<button class="btn btn-default	btn-md" (click)="validate(cert.idSubject)">Validate</button></td-->
               <!--  td *ngIf="!user.certificated">Revoked!</td-->
               </tr>
			</tbody>
              </table>
            <br/>
            
          <div id="revokeDiv" class="container-fluid" hidden="true">
        <div class="row">
             <div class="col-xs-2" > 
              <label for="email">Reason:</label>
            </div>
          <div class="col-xs-7" > 
              <input type="text" class="form-control" id="reason" [(ngModel)]="reasonText" name="reason" #reason="ngModel" placeholder="Enter the reason">
             </div>
             <div class="col-xs-1" id="btnRevoke" > 
                <button id="confirmReason"  (click)="revokation()" class="btn btn-default btn-md" >Confirm</button>
              </div>   	
        </div>
      </div>  

         
            
           
      
      <div id="connectDiv" class="container-fluid" hidden="true">
        <div class="row">
               <div class="col-xs-7">
              <select class="form-control" id="selectSoft">
              </select>	
            </div>
               <div class="col-xs-1" id="btnConnect"> 
                 
                </div>
          </div>
      </div>
      
      <div id="validateDiv" class="container-fluid" hidden="true">
        <div class="row">
             <div class="col-xs-5" > 
              <label id="validationLabel" for="email">Validation:</label>
            </div>
          <div class="col-xs-7" > 
              <input type="text" class="form-control" id="validation" [(ngModel)]="message.message" #validation="ngModel" name="validation" readonly>
             </div>
        </div>
        <div id="validationRevokedDiv" class="row" style="display: none;">
             <div class="col-xs-5" > 
              <label id="validationLabel" for="email">Reason:</label>
            </div>
          <div class="col-xs-7" > 
              <input type="text" class="form-control" id="validation_revoked" readonly>
             </div>
        </div>
      </div>
      </div>
            <!-- /.box-body -->

          <!-- /.box -->
        </div>
      </div>
