
<div class="login-box" id="formRegistration">
  <div class="register-logo">
    <a href="../../index2.html"><b>Admin</b></a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg"><b>Register new agent</b></p>

    <form action="../../index.html" method="post">
    <form class="registration" (submit)="validateUser()" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" [(ngModel)] = "user.firstName" #name1= "ngModel" name="firstName" placeholder="First name">
        <span class="glyphicon form-control-feedback"><i class="fa fa-user"></i></span>
      </div>
       <div class="form-group has-feedback">
        <input type="text" class="form-control" [(ngModel)] = "user.lastName" #lastname="ngModel" name="lastName" class="form-control" placeholder="Last name">
        <span class="glyphicon glyphicon form-control-feedback"><i class="fa fa-user"></i></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" [(ngModel)]="user.pib" #id="ngModel" name="pib" placeholder="Pib number">
        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
      </div>
      <!-- ->div class="form-group has-feedback">
        <input type="text" class="form-control" [(ngModel)]="user.address" #address="ngModel" name="address" placeholder="Address">
        <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
      </div-->
      <div class="form-group has-feedback">
        
        <input type="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" name="email" placeholder="Email">
         <div class="alert alert-danger" *ngIf="!email.valid && email.touched"> Email is required! </div>
        
        <span class="glyphicon form-control-feedback"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="Password">
        <span class="glyphicon form-control-feedback"><i class="fa fa-lock"></i></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="Retype password">
         <div class="alert alert-danger" *ngIf="password.required==false && password.touched"> Password is required! </div>
          <div class="alert alert-danger" [hidden] = "passwordError">{{passwordErrorMessage}} </div>
        <span class="glyphicon form-control-feedback"><i class="fa fa-repeat"></i></span>
      </div>
          <div class="form-group row" [hidden]="hideError">
        <div class="col-xs-6">	
          <div class="alert alert-danger" >
            <label> {{errorMessage}} </label>
          </div>
        </div>
    </div>
      <div class="row" position = "center">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="submit"  class="btn btn-primary btn-block btn-flat pull-right">Register</button>
        </div>
        <!-- /.col -->
      </div>
      </form>
    </form>

  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
<script src="../../assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../assets/plugins/iCheck/icheck.min.js"></script>


