<main class="container">
            <div class="row">
                
                <!-- Main content -->
                <div class="col-sm-8"  ng-controller="createController">
                    
                  <article>
                   <h3>Generate Certificate</h3>
                  	<fieldset>				

					<div class="form-group">
						<label>Valid from:</label> 
						<input type="date" name="date"
							ng-Model="startDate" class="form-control"
							placeholder="Valid from" />
					</div>
					<div class="form-group">
						<label>Valid to:</label> 
						<input type="date" ng-Model="endDate"
							class="form-control" placeholder="Valid to" />
					</div>
		
					
					<div>
						<label>Certificate issuer :</label>
						<select ng-model="idIssuer">
						  <option ng-repeat="x in caCertificate" value="{{x.id}}">{{x.email}}</option>
						</select>
					</div>
					
					<button class="btn btn-primary" ng-click="generateCertificate()">Create</button>

					
			  </fieldset>
			</article>
		</div> 
	</div>
</main>