        <!-- Main content area -->
        <main class="container" >
            <div class="row">
                
                <!-- Main content -->
                <div class="col-sm-8" ng-controller="loginController">
                       <article>
                       <h3>Prijava</h3>
                       <fieldset>
                            <div class="form-group">
                                <label>Email address:</label>
                                <input type="email" class="form-control" ng-model="mail" aria-describedby="emailHelp" placeholder="Enter your email" required>
                            </div>
 							
 							<div class="form-group">
                                <label>Password: </label>
                                <input type="password" class="form-control" ng-model="password" required>
                            </div>
                             <button class="btn btn-primary" ng-click="loginClick()">Prijavi se</button>

                        	<br/>
                            <a href="#/registration" title="Registracija" >Nemate nalog? Registrujte se.</a>
                        
                        </fieldset>
					</article>
                </div>    
            </div> 
        </main>

