
<div class="register-box">
  <div class="register-box-body">
    <p class="login-box-msg">Register new accommodation unit</p>

    <form method="post" (submit)="addAcc()">
     <div class="form-group has-feedback">
        <label for="floor">Floor:</label>
        <input type="number" class="form-control" [(ngModel)]="accUnit.floor"  name="floor" id="floor"  placeholder="floor"  >
        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="floor">Size:</label>
        <input type="number" class="form-control" [(ngModel)]="accUnit.size" name="size" placeholder="size" >
        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="numberOfRoom">Room:</label>
        <input type="number" class="form-control" [(ngModel)]="accUnit.numberOfRoom"  name="numberOfRoom" placeholder="Number of room" > 
        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="numberOfBeds">Capacity:</label>
        <input type="number" class="form-control" [(ngModel)]="accUnit.capacity"  name="capacity" placeholder="Number of beds" >
        <span class="glyphicon glyphicon-bed form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="numberOfBeds">Type:</label>
        <input type="text" class="form-control" [(ngModel)]="accUnit.type" name="type" placeholder="type: room" >
        <span class="glyphicon glyphicon-bed form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="numberOfBeds">default price:</label>
        <input type="number" class="form-control" [(ngModel)]="accUnit.defaultPrice" name="defaultPrice" placeholder="type: room" >
        <span class="glyphicon glyphicon-bed form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Add Unit</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
<script src="../../assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../assets/plugins/iCheck/icheck.min.js"></script>


