
<div class="row">
	<div class="col-xs-12">

    

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Pretrazi:</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div class = ""></div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <label>Enter city:</label>
                  <input  class="form-control" id="exampleInputEmail1" placeholder="Enter city" [(ngModel)]="searchForm.city" #city="ngModel" name="city" type="text">
             	  <span id="errorCity"></span>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Enter start date:</label>
                 <div class="input-group">
	                    <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
	                    <input class="form-control" type="date" [(ngModel)]="searchForm.startDate" #startDate="ngModel" name="startDate" required="required" data-placeholder="Check in">
	                    <span id="errorStart"></span>                    
	            </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
            <label>Enter number of people:</label>
             <div class="form-group">
	                    <input class="form-control" [(ngModel)]="searchForm.numberOfPeople" min="1" #numPeople="ngModel" name="numPeople" type="number" required placeholder="Enter number of people">
	         </div>
              <!-- /.form-group -->
              <div class="form-group">
               <label>Enter end date:</label>
                <div class="input-group">
                		 
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                      <input class="form-control" type="date" [(ngModel)]="searchForm.endDate" #endDate="ngModel" name="endDate" required="required"  data-placeholder="Check out">
	                      <span id="errorEnd"></span>
	                </div>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-md-6">
           	<div class="form-group">
                <label>Category</label>
                <select class="form-control select2"  [(ngModel)]="searchForm.stars" #stars="ngModel" name="stars" style="width: 100%;">
                  <option value="0">undefined</option>
                  <option value="1">*</option>
                  <option value="2">**</option>
                  <option value="3">***</option>
                  <option value="4">****</option>
                  <option value="5">*****</option>
                </select>
              </div>       
                <label>Additional services</label>
                <div class="form-group" id="grupa" >
                  <div *ngFor="let service of additionalServices">
                    <label class="checkbox-block">
                        <input type="checkbox"  name={{service.name}} value={{service.id}} (change)="serviceChanged(service.id)"> {{service.name}}
                    </label>
                  </div>
                </div>
              
            </div>
            <div class="col-md-6">
            <div class="form-group">
				<label>Max distance</label>
	            <input id="distance" class="form-control" type="number"  [(ngModel)]="searchForm.distance" #distance="ngModel" name="distance" >
	        </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
                <button type="button" (click)="findHotels()" class="btn btn-primary">Search</button>
        </div>
	</div>
  </div> 
</div>
      
       <div class="box-tools pull-left">
          	 <label class="col-md-8"> Sort by </label>
               <select name="sortItem" id="sortItem" [(ngModel)]="sortForm.sortItem" class="form-control select2" required>
                   <option value="stars">stars</option>
               </select> 
          </div>
          
          
       <div class="form-group" >
               <div class="input-group" >
                <label class="col-md-8">Ascending/Descending</label>
                      <select name="sortType" id="sortType" [(ngModel)]="sortForm.sortType" class="form-control" required >
                          <option value="ascending">ascending</option>
                           <option value="descending">descending</option>
                      </select> 
                  </div>
       </div>
          

      <div class="col-md-1" *ngIf="sortForm.sortItem == undefined || sortForm.sortType == undefined">
           <div class="form-btn">
           	 <button type="button"  (click)="sortHotels()" class="btn  btn-lg" disabled>Sort</button>
           </div>
      </div>
      <div class="col-md-8" *ngIf="sortForm.sortItem != undefined && sortForm.sortType != undefined">
           <div class="form-btn">
                <button type="button" (click)="sortHotels()" class="btn btn-primary">Sort</button>
           </div>
      </div>
      
    


<div class="row">
	<div class="col-xs-12">
            <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Accommodations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box" *ngFor="let acc of accommodations">
               
                <li class="item">
                  <div class="product-img">
                  
                   <!--div class="box box-solid">
		           
		         
		            <div class="box-body">
		              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		
		                <div class="carousel-inner">
		                  <div class="item " >
		                  <ul *ngFor="let pic of acc.pictures">
		                  	<li><img src="{{pic.uri}}" alt="First slide"></li>
		             
		                  </ul>
		
		                    <div class="carousel-caption">
		                      o
		                    </div>
		                  </div>
		                
		                </div>
		                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		                  <span class="fa fa-angle-left"></span>
		                </a>
		                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		                  <span class="fa fa-angle-right"></span>
		                </a>
		              </div>
		            </div>
                  
                  
                  </div-->
                  
                  
                    <img src="../assets/images/aleksandar.jpg" alt="Image">
                  </div>
                  <div class="product-info">
                    <a (click)="showMoreClick(acc.id)"  class="product-title">{{acc.name}} 
                      <span class="label label-warning pull-right">See more</span></a>
                    <span class="product-description">
                    	Category: {{acc.category}} <br/>
                         {{acc.address.street}} {{acc.address.number}}<br/>
                		{{acc.address.city}}<br/>              
                		{{acc.address.country}}<br/> 
                        </span>
                  </div>
                </li>
                
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
            
            
            </div>
            <!-- /.box-header -->
            <!--  >div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Name</th>
            	<th>Category</th>
            	<th>Street</th>
            	<th>City</th>
            	<th>Country</th>
            	<th>Additional Services</th>
            	<th>Rating</th>
            	
            	
            	
            	<th></th>
            	</tr>
       		 </thead>
       		 <tbody>
                <tr *ngFor="let acc of accommodations">
                <td>{{acc.name}}</td>                
                <td>{{acc.category}}</td> 
                <td>{{acc.address.street}}</td>
                <td>{{acc.address.city}}</td>               
                <td>{{acc.address.country}}</td> 
                
                <td>{{acc.additional_services}}</td>
                <td>{{acc.rating}}</td>
                <td><button (click)="changeAcc(acc)" type="button" class="btn btn-outline-success">Change</button></td>
                <td><button (click)="deleteAcc(acc)" type="button" class="btn btn-outline-danger">Delete</button></td>   
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body >
          </div>
          <!-- /.box >
        </div-->
      </div>

