<div class="row">
	<div class="col-xs-12">
   
          <!-- ->div class="box">
            <div class="box-header">
              <h3 class="box-title"><b>List of accommodations</b></h3>

              <  --div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" [(ngModel)] = "searchTerm" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div-->
            <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Accommodations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box" *ngFor="let acc of accommodations">
               
                <li class="item">
                  <div class="product-img">
                  
                   <!--div class="box box-solid">
		           
		         
		            <div class="box-body">
		              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		
		                <div class="carousel-inner">
		                  <div class="item " >
		                  <ul *ngFor="let pic of acc.pictures">
		                  	<li><img src="{{pic.uri}}" alt="First slide"></li>
		             
		                  </ul>
		
		                    <div class="carousel-caption">
		                      o
		                    </div>
		                  </div>
		                
		                </div>
		                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		                  <span class="fa fa-angle-left"></span>
		                </a>
		                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		                  <span class="fa fa-angle-right"></span>
		                </a>
		              </div>
		            </div>
                  
                  
                  </div-->
                  
                  
                    <img src="../assets/images/aleksandar.jpg" alt="Image">
                  </div>
                  <div class="product-info">
                    <a (click)="showMoreClick(acc.id)"  class="product-title">{{acc.name}} 
                      <span class="label label-warning pull-right">See more</span></a>
                    <span class="product-description">
                    	Category: {{acc.category}} <br/>
                         {{acc.address.street}} {{acc.address.number}}<br/>
                		{{acc.address.city}}<br/>              
                		{{acc.address.country}}<br/> 
                        </span>
                  </div>
                </li>
                
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
            
            
  </div>
  </div>