 <section class="content-header">

      <h1 class="profile-username text-Left">{{acc.name}} <span class="badge bg-red">{{acc.category}}*</span></h1>
        <br/>
</section>
<div class="row">

		
	      <div  class="col-md-6">
	      <div class="box">
	      <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
	      <div class="box-body box-profile">
			<div class="post">                   
		         <div class="description">
		          	ADDRESS : <br/>
					{{acc.address.street}} {{acc.address.number}} <br/>
					{{acc.address.city}} <br/>
					{{acc.address.country}} <br/> <br/>
					{{acc.description}} moze neki opis<br/>
					<br/>
					Rating : <span class="badge bg-yellow">{{acc.rating}}</span>
				</div>
	       		</div>
	       	</div>
	       	</div>
	      </div>
	       	
	    <div  class="col-md-6">
	      <div class="box">
	      <div class="box-header with-border">
              <h3 class="box-title">Additional services</h3>
            </div>
	      <div class="box-body box-profile">
	       	<div class="post">               
		         <ul *ngFor="let service of additional_services">
					<li >{{service.name}} : {{service.priceOfAdd}}$</li>
				</ul>
	       		</div>
	       	</div>
	       	</div>
	     </div>
       	<!-- list of units -->
	<div class="col-xs-12">
       	<div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">All accommodation units</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Floor</th>
            	<th>Number of room</th>
            	<th>Capacity</th>
            	<th>Size</th>
            	<th>Type</th>
            	<th>Default price</th>
            	<th></th>
            	</tr>
       		 </thead>
       		 
       		 <tbody>
                <tr *ngFor="let unit of acc_units">
                <td>{{unit.floor}}</td>                
                <td>{{unit.number_of_room}}</td> 
                <td>{{unit.capacity}}</td>
                <td>{{unit.size}}</td>               
                <td>{{unit.type}}</td> 
                <td>{{unit.defaultPrice}}</td>
                <td><button type="button" (click)= "bokingClick(unit)" class="btn btn-outline-success">Book me</button></td>
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		</div>
	<!-- Div za rezervisanje -->

<div class="col-xs-12" id= "bookingDiv" hidden="true">	
  <div class="box">	
  		<div class="box-header with-border">
              <h3 class="box-title">Book accommodation unit</h3>
        </div>
        <div class="box-body box-profile" >
	  		<div  class="col-md-6">
  			<div class="form-group">
                <label>Enter start date:</label>
                 <div class="input-group">
	                    <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
	                    <input class="form-control" type="date"  name="startDate"   [(ngModel)]="reservation.startDate" required="required" data-placeholder="Check in">
	            </div>
  			</div>
  			</div>
  			<div class="col-md-6">
  			<div class="form-group">
               <label>Enter end date:</label>
                <div class="input-group">
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                      <input class="form-control" type="date"  name="endDate"  [(ngModel)]="reservation.endDate" required="required"  data-placeholder="Check out">
	                </div>
            </div>
  			</div>
  			<div class="col-md-6">
  			<div class="form-group">
               <label>Total price: {{totalAccPrice}}</label>
                
            </div>
  			</div>
  			
  			<div class="col-md-6">
  				<label>Check additional services: </label>
                <div class="form-group" id="grupa" >
                  <div *ngFor="let service of addServices">
                    <label class="checkbox-block">
                        <input type="checkbox"  name={{service.name}} value={{service.id}} (change)="serviceChanged(service.id)"> {{service.name}} : {{service.priceOfAdd}}$
                    </label>
                  </div>
                </div>
  			</div>
  			
	</div>	
	<div class="box-footer">
	<div class="col-md-12">
      <button type="button" id="bookButton" data-toggle="modal" (click)="finallBookClick()" class="btn btn-block btn-primary">BOOK NOW</button>
    </div>
    </div>
</div>
</div>



<div class="col-xs-12">	
  <div class="box">	
  		<div class="box-header with-border">
              <h3 class="box-title">All images</h3>
        </div>
        <div class="box-body box-profile" >
	  		<div  class="col-md-4" *ngFor="let img of images">
	  			 <img class="img-responsive" src="{{img.uri}}">
	  			 <br/>
	  		</div>
  		</div>
	</div>	
</div>


<div class="col-xs-12">
	<div class="box">
	<div class="box-header with-border">
       <h3 class="box-title"><b>Comments..</b></h3>
    </div>
	<div *ngFor="let c of comments" >
            <div class="box-footer box-comments" *ngIf="c.visible">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="../assets/images/comment.jpg" alt="  ">
                <div class="comment-text">
                      <span class="username">
                       {{c.user.firstName}} {{c.user.lastName}}
                      </span><!-- /.username -->
                 {{c.text}}
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
             
              <!-- /.box-comment -->
            </div>
     </div>
	</div>
</div>
</div>

<div class="modal fade" id="modal-default" hidden="true" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">You need to be logged. Please logg in.</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click) = "loginClick()" data-dismiss="modal">Login</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
</div>
