      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><b>List of users</b></h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" [(ngModel)] = "searchTerm" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
               	<th>ID</th>
            	<th>Name</th>
            	<th>Lastname</th>
            	<th>Active</th>
           		<th>Blocked</th>
           	 	<th>Activate</th>
            	<th>Block</th>
            	<th>Delete</th>
            	<th></th>
            	</tr>
       		 </thead>
       		 <tbody>
                <tr *ngFor="let user of filteredUsers">
                <td>{{user.id}}</td>                
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.active}}</td>
                <td>{{user.blocked}}</td>     
                <td><button (click)="activateUser(user)" type="button" [disabled]="user.active" class="btn btn-outline-success">Activate</button></td>
                <td><button (click)="blockUser(user)" type="button"  [disabled]="user.blocked" [disabled]="!user.active" class="btn btn-outline-warning">Block</button></td>
                <td><button (click)="deleteUser(user)" type="button" class="btn btn-outline-danger">Delete</button></td>   
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

